.k-top{text-align:right;}
.k-mid{text-align:right;}
.k-bot{text-align:right;}
.k-link{text-align:right; direction:rtl;}
.k-tabstrip-items{direction:rtl;}
.k-grid-content{text-align:right; direction:rtl;}
.k-header{direction:rtl;}
.k-pager-info{direction:ltr;}
