/*
 * Browser scrollbar style
 */
::-webkit-scrollbar {
  display: none; /*! Hide scrollbar for Chrome, Safari and Opera */
}

* {
  -ms-overflow-style: none; /*! IE and Edge */
  scrollbar-width: none; /*! Firefox */
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
* Scrollbar rail styles
*/
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  border-radius: 1rem;
  height: 1rem;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0 !important;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  border-radius: 1rem;
  width: 1rem;
  position: absolute;
}

.ps-align-left > .ps__rail-y {
  /* right: 0; */
  left: 0 !important;
}

.ps-align-right > .ps__rail-y {
  /* left: 0; */
  right: 0 !important;
}

.ps-align-left > .ps__rail-y > .ps__thumb-y {
  left: 0.25rem;
}

.ps-align-right > .ps__rail-y > .ps__thumb-y {
  right: 0.25rem;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

/* .ps:hover > .ps__rail-x, */
/* .ps--focus > .ps__rail-x, */
/* .ps--scrolling-x > .ps__rail-x, */
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-y,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

/* .ps .ps__rail-x:hover, */
/* .ps .ps__rail-x:focus, */
/* .ps .ps__rail-x.ps--clicking, */
.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
* Scrollbar thumb styles
*/
.ps__thumb-x {
  background-color: #666;
  border-radius: 1rem;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 0.4rem;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 0.1rem;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #666;
  border-radius: 1rem;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 0.4rem;
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #333;
  height: 0.5rem;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #333;
  width: 0.5rem;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
.scrollbar-container {
  position: relative;
  height: 100%;
}
