/* 
Codes: {
    "color": "#b2d321",
    "reverse": "#4d2cde",
    "verysoft": "#eef7c9",
    "soft": "#e0f09d",
    "warm": "#9fbd1e",
    "verywarm": "#7a9117",
    "warmborder": "#9bae46",
    "softborder": "#c1eb09",
    "actionbutton": "#b2d321",
    "highlytransparentwarm": "rgba(193, 235, 9, 0.06)",
    "verytransparentwarm": "rgba(193, 235, 9, 0.1)",
    "mediumtransparentwarm": "rgba(193, 235, 9, 0.5)",
    "transparentwarm": "rgba(193, 235, 9, 0.7)"
}
*/

:root {
    --rv-color: #b2d321;
    --rv-color-reverse: #4d2cde;
    --rv-color-verysoft: #eef7c9;
    --rv-color-soft: #e0f09d;
    --rv-color-warm: #9fbd1e;
    --rv-color-verywarm: #7a9117;
    --rv-color-warmborder: #9bae46;
    --rv-color-softborder: #c1eb09;
    --rv-color-actionbutton: #b2d321;
    --rv-color-highlytransparentwarm: rgba(193, 235, 9, 0.06);
    --rv-color-verytransparentwarm: rgba(193, 235, 9, 0.1);
    --rv-color-mediumtransparentwarm: rgba(193, 235, 9, 0.5);
    --rv-color-transparentwarm: rgba(193, 235, 9, 0.7);
}