.smallCalendar {
  font-size: 0.45rem !important;
}

.mediumCalendar {
  font-size: 0.55rem !important;
}

.largeCalendar {
  font-size: 0.65rem !important;
}

.todayDate {
  border: 0.15rem solid #e27312 !important;
}

.DatePicker {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 100;
}
