.ps__thumb-y {
  background-color: #666;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  left: 2px;
  /* please don't change 'position' */
  position: absolute;
}
