.helper {
  direction: rtl;
  line-height: 1.3;
  min-width: 400px;
}
.mask {
  color: var(rv-color-verywarm);
  opacity: 0.8;
}
.CustomHelper__wrapper {
  display: flex;
  background-color: #f8f8f8;
  max-width: 600px;
  border-radius: 6px;
}
.reactour__close {
  position: fixed !important;
  right: 90% !important;
  top: 20px;
}
