.step-counter span {
  margin-left: 6px;
  font-size: 14px;
}
.action-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.action-nav div {
  width: 100%;
  text-align: center;
}
